@import url(style.css);

.slider-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #e6e6e6;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-range {
    position: absolute;
    height: 8px;
    background: #00979c;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

input.personalized-input-range {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;
}

input.personalized-input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative;
    margin-top: 5px;
    pointer-events: auto;
}

input.personalized-input-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 5px;
    border: 1px solid #ccc;
}

input.personalized-input-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-radius: 5px;
}

input.personalized-input-range::-moz-range-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-radius: 5px;
}

video {
    min-width: 500;
    min-height: 282px;
}

.cut-label {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: .5rem;
}

.editor {
    max-width: 1200px;
    width: 95vw;
    height: 100vh;
    background: #FAFAFA;
    margin: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    transition: color 0.4s;
    border-bottom: 1px solid #E6E6E6;
    padding: 1rem 2rem;

    & a {
        color: #808080;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            color: #4b4b4b;
        }
    }
}

.editor-container {
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;

    & video {
        max-width: 500px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}

.editor-side {
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 1rem;
    max-width: 530px;
    position: relative;
}

.export-buttons {
    display: grid;
    gap: .5rem;
    margin-top: 3rem;
    place-items: center;

    & button {
        width: 100%;
    }
}

.system-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-top: -38px;
}

    .system-loading p {
        font-size: 30px;
        color: #00aab3;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2rem;
    }

.system-loading svg {
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ddd inset;
}

.system-loading-inline svg {
    position: relative;
    width: 30px;
    height: 30px;
    animation: rotate 2s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ddd inset;
}

.system-loading svg circle, .system-loading-inline svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #00aab3;
    transform: translate(5px, 5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: spin 4s ease-in-out infinite;
}

    .system-loading-inline svg circle {
        stroke-width: 5;
        stroke-dasharray: 100;
        animation: spin-small 4s ease-in-out infinite;
        /*animation: none;*/
    }

@keyframes spin {
    0%, 100% {
        stroke-dashoffset: 440;
    }

    50% {
        stroke-dashoffset: 0;
    }

    50.00000000001% {
        stroke-dashoffset: 880;
    }
}

@keyframes spin-small {
    0%, 100% {
        stroke-dashoffset: 100;
    }

    50.00000000001% {
        stroke-dashoffset: 45;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-small, .loading-medium, .loading-large {
    justify-content: center !important;
}

.loading-medium {
    transform: scale(0.4) !important;
}

.loading-small {
    transform: scale(0.2) !important;
}

.loading-large {
    transform: scale(0.7) !important;
}

.loading {
    border: 2px dashed #00aab3;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    display: none;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);

    & .system-loading {
        margin-top: 6px;
    }
}