.solutto-recorder {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.editor {
    background: #FAFAFA;
}

.editor .container, .editor {
    max-width: 1320px;
}

.no-opacity {
    opacity: 1 !important;
}

.solutto-recorder *, .editor * {
    box-sizing: border-box;
}

.solutto-recorder .fontsize-2xl,
.editor .fontsize-2xl {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}

.solutto-recorder .fontsize-lg,
.editor .fontsize-lg {
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.solutto-recorder .fontsize-md,
.editor .fontsize-md {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}

.solutto-recorder .fontsize-sm,
.editor .fontsize-sm {
    margin-top: 10px;
    color: #747474;
    font-size: 12px;
}

.solutto-recorder .container {
    width: 350px;
    height: fit-content;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    padding: 1rem;
    display: grid;
    position: absolute;
    right: 3rem;
    top: 1rem;
    z-index: 3;
}

.solutto-recorder .wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.solutto-recorder .header,
.editor .header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.solutto-recorder .header img,
.editor .header img {
    width: 41px;
}

.solutto-recorder .footer,
.editor .footer {
    display: grid;
    margin-top: 1.7rem;
    gap: 8px;
    text-align: center;
}

.solutto-recorder .form-group,
.editor .form-group {
    margin-top: 1.7rem;
    display: grid;
}

.solutto-recorder select, .solutto-recorder input:not([type="range"]),
.editor select, .editor input:not([type="range"]) {
    border-radius: 4px !important;
    border: 0 !important;
    outline: 1px solid #ccc !important;
    padding: 8px 6px !important;
    max-width: 100% !important;
    margin: 5px 0;
}

.solutto-recorder select:focus, .solutto-recorder input:not([type="range"]):focus,
.editor select:focus, .editor input:not([type="range"]):focus {
    outline: 2px solid #00c2cc !important;
    box-shadow: 0px 0px 0px 4px rgba(0, 194, 204, 0.2) !important;
}

.solutto-recorder .btn,
.editor .btn {
    min-width: 100px;
    height: 35px !important;
    padding: 0px 20px !important;
    border-radius: 4px !important;
    border: none !important;
    background: #00aab3;
    color: #fff;
    font-size: 14px;
    font-weight: 600 !important;
    transition: 0.2s linear background;
    cursor: pointer;

    &:disabled {
        opacity: 0.7 !important;
    }
}

.solutto-recorder .btn:hover,
.editor .btn:hover {
    background: #08c7d1;
}

.solutto-recorder .btn:active,
.editor .btn:active {
    opacity: 0.7;
}

.solutto-recorder .btn:focus,
.editor .btn:focus {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #00aab3;
}

.solutto-recorder .btnCinza,
.editor .btnCinza {
    border: 1px solid #ccc !important;
    background: white !important;
    color: #222 !important;
}

.solutto-recorder .btnCinza:hover,
.editor .btnCinza:hover {
    background: #e6e6e6 !important;
    border: 1px solid #e6e6e6 !important;
}

.solutto-recorder .btnCinza:focus,
.editor .btnCinza:focus {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #e6e6e6 !important;
}

.solutto-recorder input[type="checkbox"],
.editor input[type="checkbox"] {
    width: 23px;
    height: 23px;
    border: 2px solid #c9c9c9;
    appearance: none;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    border-radius: 4px;
}

.solutto-recorder input[type="checkbox"]:hover,
.editor input[type="checkbox"]:hover {
    border: 2px solid #00AAB3;
}

.solutto-recorder input[type="checkbox"]:checked,
.editor input[type="checkbox"]:checked {
    background: #00AAB3;
    border: 2px solid #00AAB3;
}

.solutto-recorder input[type="checkbox"]:checked::after,
.editor input[type="checkbox"]:checked::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutto-recorder #wait-seconds,
.editor #wait-seconds {
    width: 100px;
}

.solutto-recorder .radio-group,
.editor .radio-group {
    display: flex;
    align-items: center;
    gap: 7px;
}

.solutto-recorder .select-source {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    position: relative;
    border-bottom: 1px solid #e6e6e6;

    & .source {
        flex: 1;
        display: grid;
        place-items: center;
        padding: 1rem;
        gap: 10px;
        cursor: pointer;
        
        & i {
            font-size: 1.3rem;
            transition: all 0.4s ease-in-out;
        }

        &.selected i {
            color: #00aab3;
        }
    }

    & .selector-tab {
        transition: all 0.4s ease-in-out;
        background: #00aab3;
        height: 3px;
        width: 105px;
        border-radius: 7px;
        position: absolute;
        bottom: 0;
        left: 106px;
    }
}
