.solutto-gravador html, .solutto-gravador body {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.solutto-gravador * {
    box-sizing: border-box;
}

.solutto-gravador .fontsize-2xl {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}

.solutto-gravador .fontsize-md {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}

.solutto-gravador .fontsize-sm {
    margin-top: 10px;
    color: #747474;
    font-size: 12px;
}

.solutto-gravador .container {
    width: 350px;
    height: fit-content;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    padding: 1rem;
    display: grid;
    position: absolute;
    right: 3rem;
    top: 1rem;
    z-index: 3;
}

.solutto-gravador .wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.solutto-gravador .header {
    display: flex;
    align-items: center;
    gap: 8px;

    & img {
        width: 41px;
    }
}

.solutto-gravador .footer {
    display: grid;
    margin-top: 1.7rem;
    gap: 8px;
    text-align: center;
}

.solutto-gravador .form-group {
    margin-top: 1.7rem;
    display: grid;
}

.solutto-gravador select, .solutto-gravador input:not([type="range"]) {
    border-radius: 4px !important;
    border: 0 !important;
    outline: 1px solid #ccc !important;
    padding: 8px 6px !important;
    max-width: 100% !important;
    margin: 5px 0;

    &:focus {
        outline: 2px solid #00c2cc !important;
        box-shadow: 0px 0px 0px 4px rgba(0, 194, 204, 0.2) !important;
    }
}

.solutto-gravador .btn {
    min-width: 100px;
    height: 35px !important;
    padding: 0px 20px !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border: none !important;
    background-image: none !important;
    background: #00aab3;
    color: #fff;
    text-shadow: none !important;
    text-transform: none !important;
    font-size: 14px;
    font-weight: 600 !important;
    transition: 0.2s linear background;
    cursor: pointer;

    & i {
        color: #fff;
    }

    &:hover {
        background: #08c7d1;
    }

    &:active {
        opacity: 0.7;
    }

    &:focus {
        box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #00aab3;
    }
}

.solutto-gravador .btnCinza {
    border: 1px solid #ccc !important;
    background: white !important;
    color: #222 !important;

    & i {
        color: #222 !important;
    }
}

.solutto-gravador .btnCinza:hover {
    background: #e6e6e6 !important;
    border: 1px solid #e6e6e6 !important;
}

.solutto-gravador .btnCinza:focus {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #e6e6e6 !important;
}

.solutto-gravador .controls {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    padding: 7px 20px;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 59px;

    & i {
        font-size: 23px;
        cursor: pointer;
    }
}

.solutto-gravador .elapsed-time {
    border-radius: 8px;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    color: #4D4D4D;

    & .play {
        display: none;
    }
}

.solutto-gravador .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.solutto-gravador .space {
    height: 22px;
    width: 2px;
    background: #E6E6E6;
}

.solutto-gravador #grab-control {
    color: #999999;
}

.solutto-gravador .rounded-btn {
    background: none;
    border: none;

    &:disabled i {
        color: #999999;
        cursor: default;
    }
}

.solutto-gravador .submit {
    color: #00AAB3;
}

.solutto-gravador .delete {
    color: #FF0000;
}

.solutto-gravador input[type="checkbox"] {
    width: 23px;
    height: 23px;
    border: 2px solid #c9c9c9;
    appearance: none;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    border-radius: 4px;
  }

  .solutto-gravador input[type="checkbox"]:hover {
    border: 2px solid #00AAB3;
  }

  .solutto-gravador input[type="checkbox"]:checked {
    background: #00AAB3;
    border: 2px solid #00AAB3;
  }

  .solutto-gravador input[type="checkbox"]:checked::after {
      content: "\f00c"; /* Código unicode do ícone de check */
      font-family: "Font Awesome 6 Free"; /* Especifica a fonte do Font Awesome */
      font-weight: 900; /* Necessário para o estilo "solid" do Font Awesome */
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .solutto-gravador #wait-seconds {
    width: 100px;
}

.solutto-gravador .radio-group {
    display: flex;
    align-items: center;
    gap: 7px;
}