#solutto-recorder-host {
    all: initial; 
    display: block !important;
    position: fixed !important;
    z-index: 2147483647 !important;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
    border: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

#solutto-recorder-host > * {
    pointer-events: auto;
}